{% block useraction %}
<div id="user-action">
    <a href="/dataset" class="circle-icon" data-toggle="tooltip" title="Manajemen Dataset">
        <i class="fa fa-database"></i>
    </a>
    <a href="/preprocessing" class="circle-icon" data-toggle="tooltip" title="Preprocessing">
        <i class="fa fa-file-text-o"></i>
    </a>
    <a href="/training" class="circle-icon"  data-toggle="tooltip" title="Seleksi FItur SVM-GA">
        <i class="fa fa-magic"></i>
    </a>
    <a href="/testing" class="circle-icon"  data-toggle="tooltip" title="Testing">
        <i class="fa fa-copy"></i>
    </a>
    <a href="/rating" class="circle-icon" data-toggle="tooltip" title="Rating Program TV">
        <i class="fa fa-bar-chart"></i>
    </a>
    <div id="nav-icon3">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
</div>
{% endblock %}